* {
  outline: 1px dotted red;
  box-sizing: border-box;
}

body {
  width: 960px;
  height:auto;
}

nav {
  margin-right: 30px;
}

nav img{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px
}

nav ul li {
  float:left;
  margin-right: 30px;
  margin-top: 22px;
  width:140px;
  text-align: center;
  font-size: 25px;

}

main img{
  margin-bottom: 30px;
}
main ul li {
  float:left;
  width:980;
  height: 405px;
  /* margin-right: 20px */
  /* height:375px; */
}

main ul li:nth-child(1) {
  margin-right: 30px;
}
main ul li:nth-child(2) {
  margin-right: 30px;
}
/* ul img {
  float:left;
} */

section{
  float:left;
}

section article {
float:right;
  width:300px;
  margin-left: 30px
}
